@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.main-background {
    animation: gradientBackground 15s ease infinite;
    background: linear-gradient(-45deg, #e3f2fd, #ffecb3, #e1bee7, #f0f4c3);
    background-size: 400% 400%;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.title {
    font-family: "Poppins", sans-serif;
    font-weight: 700; /* Extra bold */
    font-size: 2.5rem; /* Adjust size as needed */
    color: #343a40; /* Dark shade for contrast */
}

/* Custom CSS adjustments */
.form-container {
    margin-top: 50px;
}

.submit-button,
.cta-button {
    min-width: 250px; /* Maintain the button width */
}

.toast {
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
